<a href="https://colab.research.google.com/github/navyatheethira/INTERNSOFTcodefiles/blob/main/NAV5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Modules and Packages**

In [2]:
import math

In [3]:
math.ceil(2.4)

3

In [6]:
math.floor(2.4)

2

**Exploring Built-In Modules**

In [9]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [11]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

Writing Modules and Packages: Creating packages with .py extension and calling the packages by using import command.
Packages are name-spaces which contains multiple modules and poackages themselves
Each package in python is a directory which must contain special file called init.py, consider an eg directory foo as package & bar as module

In [14]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [16]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [18]:
__init__.py
__all__=["bar"]

NameError: name '__init__' is not defined

**Errors and Exception Handling**

In [21]:
print('Hello)

SyntaxError: unterminated string literal (detected at line 1) (1679058590.py, line 1)

This indicates the End of Line(EOL) error because of the missing single quotes.
Though code is syntactically correct it may cause an error when attempt is made to execute it.
Errors detected during execution are called Exceptions & are not unconditonally fatal.

**try and except**

In [25]:
try:
    f=open('testfile','w')
    f.write('Write this code')
except IOError:
    print('Error:Could not find file or read data')
else:
    print('Content written successfully')
    f.close()

Content written successfully

**When we dont give write permissions**

In [28]:
try:
    f=open('testfile','r')
    f.write("Write this code")
except IOError:
    print("Error:Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error:Could not find file or read data

**If we were not sure that exceptions would occur**

In [31]:
try:
    f=open('testfile','w')
    f.write("Write this code")
except:
    print("Error:Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

**finally** :Block of code will always run regardless if there was an exception in the try block code.

In [34]:
try:
    f=open("testfile","w")
    f.write("Write this test code")
finally:
    print("Always executes the block of code")

Always executes the block of code

In [36]:
def askint():
    try:
        val = int(input("Please enter a valid integer: "))
    except:
        print("Looks like you did not enter a valid integer! ")
    finally:
        print("Finally, I executed the code")
    print(val)

askint()

Please enter a valid integer:  azmi

Looks like you did not enter a valid integer!
Finally, I executed the code

UnboundLocalError: cannot access local variable 'val' where it is not associated with a value

In [38]:
def askint():
    try:
        val = int(input("Please enter a valid integer: "))
    except:
        print("Looks like you did not enter a valid integer! ")
    finally:
        print("F+*inally, I executed the code")
    print(val)

askint()

Please enter a valid integer:  123

F+*inally, I executed the code
123

In [40]:
def askint():
    try:
        val = int(input("Please enter a valid integer: "))
    except:
        print("Looks like you did not enter a valid integer! ")
        val=int(input("Try Again-Please enter a valid integer"))
    finally:
        print("Finally, I executed the code")
    print(val)

askint()

Please enter a valid integer:  azmi

Looks like you did not enter a valid integer!

Try Again-Please enter a valid integer 123

Finally, I executed the code
123

In [42]:
def askint():
    while True:
        try:
            val = int(input("Please enter a valid integer: "))
        except:
            print("Looks like you did not enter a valid integer! ")
            continue
        else:
            print("Yep ..!Its an valid integer")
            break
        finally:
            print("Finally, I executed the code")
        print(val)

askint()

Please enter a valid integer:  azmi

Looks like you did not enter a valid integer!
Finally, I executed the code

Please enter a valid integer:  123

Yep ..!Its an valid integer
Finally, I executed the code

**Database Connectivity and Operations using Python**

In [50]:
import sqlite3
db=sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1") #execute() is used to manipulate the table
db.execute("create table grades1(id int, name text,score int)")
db.execute("insert into grades1(id,name,score)values(1,'John',86)")
db.execute("insert into grades1(id,name,score)values(2,'Smith',96)")
db.execute("insert into grades1(id,name,score)values(3,'Safan',100)")
db.execute("insert into grades1(id,name,score)values(4,'Azmeena',91)")
db.execute("insert into grades1(id,name,score)values(5,'Ayesha',99)")

In [52]:
db.commit()

In [54]:
result=db.execute("select * from grades1 order by id")
for row in result:
    print(row)
print("-"*60)

(1, 'John', 86)
(2, 'Smith', 96)
(3, 'Safan', 100)
(4, 'Azmeena', 91)
(5, 'Ayesha', 99)
------------------------------------------------------------

In [58]:
result=db.execute("select * from grades1 where name='Smith'")
for row in result:
    print(row)
print("-"*60)

(2, 'Smith', 96)
------------------------------------------------------------

In [60]:
result=db.execute("select * from grades1 where score >=90")
for row in result:
    print(row)
print("-"*60)

(2, 'Smith', 96)
(3, 'Safan', 100)
(4, 'Azmeena', 91)
(5, 'Ayesha', 99)
------------------------------------------------------------

In [62]:
result=db.execute("select name, score from grades1 order by score desc")
for row in result:
    print(row)
print("-"*60)

('Safan', 100)
('Ayesha', 99)
('Smith', 96)
('Azmeena', 91)
('John', 86)
------------------------------------------------------------

In [64]:
result=db.execute("select name, score from grades1 order by score")
for row in result:
    print(row)
print("-"*60)

('John', 86)
('Azmeena', 91)
('Smith', 96)
('Ayesha', 99)
('Safan', 100)
------------------------------------------------------------

In [66]:
result=db.execute("select name, score from grades1 order by score")
for row in result:
    print(row)

('John', 86)
('Azmeena', 91)
('Smith', 96)
('Ayesha', 99)
('Safan', 100)