<a href="https://colab.research.google.com/github/Azmeena459/INTERNSOFTcodefiles/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Constructing Tuples

In [ ]:
# Can create a tuple with mixed types
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

3

In [ ]:
# Can also mix object types
t = ("one",2)
# Show
t

('one', 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

# Basic Tuple Methods

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

# Immutability

In [ ]:
t[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## Sets

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

{1}

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

{1, 2}

In [ ]:
# Try to add the same element
x.add(1)

In [ ]:
#Show
x

{1, 2}

In [ ]:
# Create a list with repeats
l=[1,2,3,1,4,5,2,4,6,3,]

In [ ]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}

# Constructing a Dictionary

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

In [ ]:
my_dict = {'key1':123, 'key2':[11,22,33],'key3':['item1','item2','item3']}
my_dict

{'key1': 123, 'key2': [11, 22, 33], 'key3': ['item1', 'item2', 'item3']}

In [ ]:
#Let's call items from the dictionary
my_dict['key3']

['item1', 'item2', 'item3']

In [ ]:
# Can call an index on that value
my_dict['key2'][1]

22

In [ ]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM1'

We can effect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] -= 123
my_dict['key1']

0

In [ ]:
#Check
my_dict

{'key1': 0, 'key2': [11, 22, 33], 'key3': ['item1', 'item2', 'item3']}

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-123

In [ ]:
#Check
my_dict

{'key1': -123, 'key2': [11, 22, 33], 'key3': ['item1', 'item2', 'item3']}

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-246

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

# Nesting with Dictionaries

In [ ]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnested':'value'}}}
d

{'key1': {'nestkey': {'subnested': 'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnested']

'value'

# A few Dictionary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1, 'key2':2, 'key3':3}

In [ ]:
# Method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', {'nestkey': {'subnested': 'value'}})])

# Dictionary Comprehensions

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
{x:x**2 for x in range(10)}   #power **

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
{x:x*2 for x in range(10)}   #multiply  *

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

# def Statements

In [ ]:
def name_of_function():
    print("Hello World!")
name_of_function()
    # Do stuff here
    #return desired result

Hello World!

# Example 1: A simple print 'hello' function

In [ ]:
def say_hello():
    print('hello')

Call the function

In [ ]:
say_hello()

hello

# Example 2: A simple greeting function

In [ ]:
def greeting(name):
    print('Hello %s' %name)
    print('How are you %s' %name)

In [ ]:
greeting('Azmeena')

Hello Azmeena
How are you Azmeena

## Using return
### Example 3: Addition function

In [ ]:
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(4,5)

9

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)

In [ ]:
print(result)

9

In [ ]:
#What happens if we input two strings?
print(add_num('one\t' , 'two'))

one	two

In [ ]:
print(add_num('one\n' , 'two'))

one
two

# example of creating a function to check if a number is prime

In [ ]:
#prime
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else:
        print('prime')

In [ ]:
is_prime(33)

not prime

In [ ]:
is_prime(11)

prime

In [ ]:
import math
def is_prime ( num ) :
    '''
    A Better method of checking for primes .
    '''
    if num % 2 == 0 and num > 2 :
        return False
    for i in range ( 3 , int ( math.sqrt ( num ) ) + 1 , 2 ) :
        if num % i == 0 :
            return False
    return True

In [ ]:
is_prime(26)

False

In [ ]:
is_prime(17)

True

# Iterators and Generators

In [ ]:
# Generator function for the cube of numbers (power of 3)
def gencubes ( n ) :
    for num in range ( n ) :
        yield num ** 3

In [ ]:
for x in gencubes ( 10 ) :
    print ( x )

0
1
8
27
64
125
216
343
512
729

# Let's create another sample generator which calculates fibonacci

In [ ]:
def genfibon ( n ) :
    ''''
    Generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range ( n ):
       yield a
       a , b = b , a + b

In [ ]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [ ]:
def fibon(n):
    a = 1
    b = 1
    output = []

    for i in range(n):
        output.append(a)
        a,b = b,a+b

    return output

In [ ]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## next() and iter() built-in functions

In [ ]:
def simple_gen():
    for x in range(3):
        yield x

In [ ]:
g=simple_gen()

In [ ]:
print(next(g))

0

In [ ]:
print(next(g))

1

In [ ]:
print(next(g))

2

In [ ]:
print(next(g))

StopIteration:

In [ ]:
s= 'hello'
#iterate over string
for let in s:
    print(let)

h
e
l
l
o

In [ ]:
next(s)

TypeError: 'str' object is not an iterator

In [ ]:
s_iter= iter(s)

In [ ]:
next(s_iter)

'h'

In [ ]:
next(s_iter)

'e'

In [ ]:
next(s_iter)

'l'

In [ ]:
next(s_iter)

'l'

In [ ]:
next(s_iter)

'o'

In [ ]:
next(s_iter)

StopIteration:

# map()

In [ ]:
def fahrenheit(T):
    return ((float(9)/5)*T+32)
def celsius(T):
    return ((float(5)/9)*(T-32))

temp=[0,22.5,40,100]

In [ ]:
F_temps= list(map(fahrenheit,temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [ ]:
#convert back
list(map(celsius,F_temps))

[0.0, 22.5, 40.0, 100.0]

In [ ]:
list(map(lambda x: (5/9) * (x-32), F_temps))

[0.0, 22.5, 40.0, 100.0]

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 12]

In [ ]:
#Now all three lists
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

In [ ]:
list(map(lambda x,y,z:x-y+z, a,b,c))

[5, 6, 7, 8]

# reduce()

In [ ]:
from functools import reduce
lst=[77,42,6,12]
reduce(lambda x,y:x+y ,lst)

137

In [ ]:
from functools import reduce
l=[2,4,6,8,2]
reduce(lambda x,y:x+y, l)

22

In [ ]:
from IPython.display import Image
Image('http://www.python-course.eu/images/reduce_diagram.png')

In [ ]:
#Find maximum of a sequence
max_find=lambda a,b:a if (a > b) else b

In [ ]:
print(lst)
reduce(max_find, lst)

[77, 42, 6, 12]

6

In [53]:
reduce(lambda a,b:a if (a > b) else b, lst)

77

# filter

In [54]:
def even_check(num):
    if num%2==0:
        return True

In [55]:
lst=range(30)
print(list(lst))
list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [56]:
list(filter(lambda x: x%2==0, lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]